body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: Thistle;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #E8CCF5, #D9B3FF);
    padding: 15px;
}

.home-btn {
    position: absolute;
    left: 20px;
    background: #BA55D3;
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
    text-decoration: none;
}

.page-title {
    font-size: 35px;
    color: #4B0082;
    font-family: Courier, Arial, sans-serif;
}

.layout {
    display: flex;
}

nav {
    width: 200px;
    background: linear-gradient(180deg, #dba4ff, #ffcef5);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
}

nav a {
    display: block;
    background: white;
    padding: 10px;
    margin: 8px 0;
    color: #663399;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
}

.content {
    flex: 1;
    padding: 30px;
    text-align: center;
}

/* PROFILE */
.shape-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.shape-left {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.icons img {
    width: 35px;
    height: 35px;
    margin: 5px;
}

.hobbies-table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

.hobbies-table th {
    background: #BA55D3;
    color: white;
    padding: 10px;
}

.hobbies-table td {
    background: #F8EDFF;
    padding: 15px;
    vertical-align: top;
}

.hobby-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    margin: 8px 5px;
}

.writer-link {
    color: #6a0dad;
    font-weight: bold;
    text-decoration: none;
}

.writer-link:hover {
    text-decoration: underline;
}

.food-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.food-section ul,
.food-section ol {
    list-style-position: inside;  
    text-align: left;             
    margin: 10px auto 20px;       
    padding-left: 0;              
    max-width: 600px;             
}

.food-card {
    background: white;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    width: 200px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.food-card img {
    width: 100%;
    border-radius: 12px;
}

.food-card h3 {
    margin: 10px 0 5px 0;
    font-weight: bold;
}

.tutorial-link {
    display: inline-block;
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #BA68C8;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
}

.tutorial-link:hover {
    background-color: #9c4dbb;
}

.food-detail-img {
    width: 250px;       
    height: auto;       
    border-radius: 10px;
    margin: 15px auto;  
    display: block;
}
