body {
    margin: 0;
    font-family: Courier, Arial, sans-serif;
    background: url("purple.jpg") no-repeat center center fixed;
    background-size: cover;
}

.marquee-text {
    font-size: 20px;
    color: #4B0082;
    font-weight: bold;
    padding: 8px 0;
    letter-spacing: 2px;
    background: #E8CCF5;
}

.clock {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #4B0082;
    background: #F3E5FF;
    padding: 8px;
    letter-spacing: 1px;
    border-bottom: 2px solid #D8BFD8;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #663399;
    padding: 15px 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.page-title {
    font-size: 35px;
    color: white;
    margin: 0;
}

.layout {
    display: flex;
    padding-bottom: 20px;
}

nav {
    width: 200px;
    background: linear-gradient(180deg, #dba4ff, #ffcef5);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
}

nav a {
    display: block;
    background: white;
    padding: 10px;
    margin: 8px 0;
    color: #663399;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s;
}

nav a:hover {
    background: #f2e6ff;
}

.content {
    flex: 1;
    padding: 30px;
    text-align: center;
}

.profile-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.25);
    border: 3px solid #FFF0F5;
}

.about-text {
    background: #F5F5F5;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.6;
    color: #4B0082;
    max-width: 700px;
    margin: auto;
}

footer {
    background-color: #663399;
    color: white;
    text-align: center;
    padding: 8px;
}

@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }

    nav {
        width: auto;
        margin: 10px;
    }

    .profile-img {
        width: 180px;
        height: 180px;
    }
}
